.who-to-follow{
  background-color: #15202b;
  width:351px;
  height: 330px;
  font-family: 'Lato', sans-serif;
  border-radius:20px;
}
.box-comment{
  color:white;
  margin-left:10px;
  font-size:10px;
  display: flex;
  align-items: center;
}
.friend-box {
  box-sizing: border-box;
  height: 72px;
  background-color: #15202b;
  display: flex;
  align-items: center;
  position: relative;
}
.friend-box:hover {
  background-color: #202e3a;
}
img {
  margin: 0px 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
a {
  color: white;
  text-decoration: none;
}
.friend-info {
  color: white;
  font-size: 13px;
  font-weight: 800;
}
.friend-name:hover {
  text-decoration: underline;
}
.friend-status {
  color: #62727e;
}
.btn {
  position: absolute;
  right: 20px;
}
.follow-btn {
  width: 75px;
  height: 35px;
  border-radius: 20px;
  background-color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-check-circle{
  color:#1d9bf0;
  margin-bottom:20px;
}
.anne-badge{
  margin-left:7px;
}
.comment-bot{
  height:63px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size:10px;
  color:white;
  padding-left:17px;
}
.fa-angle-down{
  margin-left:5px;
}